# fixes duplicated names for different authors
Yoshiki Vázquez Baeza <yoshiki89@gmail.com> Yoshiki <yoshiki89@gmail.com>
Yoshiki Vázquez Baeza <yoshiki89@gmail.com> Yoshiki Vázquez Baeza <ElDeveloper@users.noreply.github.com>
Jackson Chen <tiger2chen@gmail.com> Jackson Chen <Jackson@rl1gw2-196-192-dhcp.int.colorado.edu>
